.btn {
  margin: 80px;
  padding: 16px 32px;
  border: 1px solid #eaeaea;
}

// Global styles

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

// Animation
